body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  width: 70%;
  position: relative;
  left: 120px;
}

.lighthouseAttr {
  background-color: rgb(255, 127, 129);
  display: inline-block;
  width: 180px;
  text-align: center;
  padding: 7px;
  margin-bottom: 10px;
 }

 .btn {
  margin-top: 7px;
 }
